@page "{restaurantId:Int}"
@model basic.Pages.Restaurantes.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Restaurante.Name</h2>
<form method="post">
    <input type="hidden" asp-for="Restaurante.Id" />
    <div class="form-group">
        <label asp-for="Restaurante.Name"></label>
        <input asp-for="Restaurante.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurante.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurante.Location"></label>
        <input asp-for="Restaurante.Location" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurante.Location"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurante.Cozinha"></label>
        <select asp-for="Restaurante.Cozinha" class="form-control"
                asp-items="Model.Cuisines"></select>
        <span class="text-danger" asp-validation-for="Restaurante.Cozinha"></span>
    </div>
    <input type="submit" class="btn btn-success" value="Save" />
</form>
